* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  color: #121212;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}

#app, main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#notepad {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  padding: 32px 16px;
  resize: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: inherit;
  color: inherit;
  outline: none;
}

#notepad::placeholder {
  color: #999999;
}

@media (prefers-color-scheme: dark) {
  #notepad::placeholder {
    color: #666666;
  }
}

#llm-response {
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 5px 16px;
  border: none;
  resize: none;
  font-family: typewriter, monospace, 'Courier New', Courier, monospace;
  color: inherit;
  font-size: 14px;
  line-height: 1.5;
  background-color: inherit;
  overflow-y: auto;
}

#llm-response::before {
  content: ' > ';
  color: #999999;
}

#llm-response:focus {
  outline: none;
}

#llm-response::placeholder {
  color: #999999;
}

@media (prefers-color-scheme: dark) {
  #llm-response::placeholder {
    color: #666666;
  }
}

#llm-status {
  padding: 8px 16px;
  font-size: 14px;
  color: #666666;
}

@media (prefers-color-scheme: dark) {
  #llm-status {
    color: #999999;
  }
}

#llm-request {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  width: calc(100% - 32px);
  margin: 0 16px 16px;
  resize: none;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  background: linear-gradient(#121212, #121212) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 5px;
  border: 4px solid transparent;
}

#llm-request:focus {
  outline: none;
}

#llm-request::placeholder {
  color: #999999;
}

@media (prefers-color-scheme: dark) {
  #llm-request::placeholder {
    color: #666666;
  }
}

